---
import Lightbox from "../components/Lightbox.astro";
import GalleryComponent from "../components/gallery/Gallery.astro";
import { fetchRandomPhotos } from "../lib/api";

const USE_LOCAL_BACKEND = import.meta.env.PUBLIC_USE_LOCAL_BACKEND === "true";
const API_BASE_URL = USE_LOCAL_BACKEND
    ? "http://localhost:8080"
    : import.meta.env.PUBLIC_API_BASE_URL ||
      "https://raquira-5do3.onrender.com";
const photos = await fetchRandomPhotos(API_BASE_URL);
const baseURL = "https://pub-0654db98da5e47f49578b68f4562e0fa.r2.dev/";
---

<div>
    <GalleryComponent photos={photos} baseURL={baseURL} />
    <Lightbox photos={photos} baseURL={baseURL} />
</div>
